/* space variables */
$margin-md-space: 15;
$padding-md-space: 15;
$head-height: 72;
$foot-height: 100;
$height-diff: $head-height + $foot-height;

/* color */
$white-color: #fff;
$success-text-color: #52c41a;
$warn-text-color: #ad4e00;
$text-color: #261d0b;
